.landing {
    background-color: #D95B43;
}

.footer {
    background-color: #53777A;
}

.navbar {
    background-color: #ECD078;
    border-color: #dfb11f;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: #dfb11f;
}

.dropdown-menu {
    background-color: #ff0505;
}

.dropdown-menu .divider{
    background-color: #c40c06;
}

.btn {
    border-radius: 0;
}
