html,
body
{
    height: 100%;
}

#wrap
{
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

#wrap > .container
{
    padding: 60px 15px 0;
}

.container .text-muted
{
    margin: 20px 0;
}

#footer > .container
{
    padding-left: 15px;
    padding-right: 15px;
}

code
{
    font-size: 80%;
}

.landing-text
{
    color: #8E2800;
    font-weight: 900;
    font-variant: normal;
    text-align: center;
    letter-spacing: 0.4px;
    font-size: 450%;
}

.animeListItem {
    background-color: #F5F7FA;
    color: black;
}
