<template name="landing">
    <div class="container">
        <div class="row main" style="padding-top: 20%;">
            <h1 class="landing-text">Easily manage all the animes &amp; mangas in your library.</h1>
        </div>
    </div>
</template>
