<template name="mainLayout">
    <div id="wrap" class="landing">
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"
                            data-pg-collapsed>
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{pathFor route='landing'}}">LIGHTLIST</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="{{isActiveRoute regex='landing' className='active'}}">
                            <a href="{{pathFor route='landing'}}"><i class="fa fa-home fa-fw"></i>&nbsp; Home</a>
                        </li>
                        <!--        ANIME DROPDOWN        -->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false">Animes <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li class="{{isActiveRoute regex='anime.list' className='active'}}">
                                    <a href="{{pathFor route='anime.list'}}"><i class="fa fa-list fa-fw"></i>&nbsp; All
                                        Animes</a>
                                </li>
                                <li class="{{isActiveRoute regex='anime.top' className='active'}}">
                                    <a href="{{pathFor route='anime.top'}}"><i class="fa fa-star fa-fw"></i>&nbsp; Top
                                        Animes</a>
                                </li>
                                <li class="{{isActiveRoute regex='anime.myList' className='active'}}">
                                    <a href="{{pathFor route='anime.myList'}}"><i class="fa fa-book fa-fw"></i>&nbsp; My
                                        Animes</a>
                                </li>
                                <!-- IMPL Make this visible only if the user is connected and admin -->
                                <li class="divider"></li>
                                <li class="{{isActiveRoute regex='anime.create' className='active'}}">
                                    <a href="{{pathFor route='anime.create'}}"><i class="fa fa-book fa-fw"></i>&nbsp;
                                        Add an Anime</a>
                                </li>
                            </ul>
                        </li>
                        <!--        MANGA DROPDOWN        -->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false">Mangas <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li class="{{isActiveRoute regex='manga.list' className='active'}}">
                                    <a href="{{pathFor route='manga.list'}}"><i class="fa fa-list fa-fw"></i>&nbsp; All
                                        Mangas</a>
                                </li>
                                <li class="{{isActiveRoute regex='manga.top' className='active'}}">
                                    <a href="{{pathFor route='manga.top'}}"><i class="fa fa-star fa-fw"></i>&nbsp; Top
                                        Mangas</a>
                                </li>
                                <li class="{{isActiveRoute regex='manga.myList' className='active'}}">
                                    <a href="{{pathFor route='manga.myList'}}"><i class="fa fa-book fa-fw"></i>&nbsp; My
                                        Mangas</a>
                                </li>
                                <!-- IMPL Make this visible only if the user is connected and admin -->
                                <li class="divider"></li>
                                <li class="{{isActiveRoute regex='manga.create' className='active'}}">
                                    <a href="{{pathFor route='manga.create'}}"><i class="fa fa-book fa-fw"></i>&nbsp;
                                        Add a Manga</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>

        <div class="container main">
            {{> yield}}
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="clearfix">
                <div class="footer-logo text-center hidden-xs" style="line-height: 50px"><a
                        href="#"><img
                        class="img-responsive" src="img/footer-logo.png">LIGHTLIST</a></div>
                <dl class="footer-nav">
                    <dt class="nav-title">Animes</dt>
                    <dd class="nav-item"><a href="{{pathFor route='anime.list'}}">All Animes</a></dd>
                    <dd class="nav-item"><a href="{{pathFor route='anime.top'}}">Top Animes</a></dd>
                    <!-- IMPL Make this visible only if the user is connected -->
                    <dd class="nav-item"><a href="{{pathFor route='anime.myList'}}">My Animes</a></dd>
                    <!-- IMPL Make this visible only if the user is connected and admin -->
                    <dd>---</dd>
                    <dd class="nav-item"><a href="{{pathFor route='anime.create'}}">Add an Anime</a>
                    </dd>
                </dl>
                <dl class="footer-nav">
                    <dt class="nav-title">Mangas</dt>
                    <dd class="nav-item"><a href="{{pathFor route='manga.list'}}">All Mangas</a></dd>
                    <dd class="nav-item"><a href="{{pathFor route='manga.top'}}">Top Mangas</a></dd>
                    <!-- IMPL Make this visible only if the user is connected -->
                    <dd class="nav-item"><a href="{{pathFor route='manga.myList'}}">My Mangas</a></dd>
                    <!-- IMPL Make this visible only if the user is connected and admin -->
                    <dd>---</dd>
                    <dd class="nav-item"><a href="{{pathFor route='manga.create'}}">Add a Manga</a></dd>
                </dl>
                <dl class="footer-nav">
                    <dt class="nav-title">CONTACT</dt>
                    <dd class="nav-item"><a
                            href="mailto:haellsigh@gmail.com?subject=LightList">Email</a>
                    </dd>
                </dl>
            </div>
            <div class="footer-copyright text-center">Copyright © 2015 Haellsigh. All rights reserved.
            </div>
        </div>
    </footer>
</template>
