<template name="notFound">
    <div class="container">
        <div class="row main" style="padding-top: 20%;">
            <h1 class="landing-text">Error 404: Page not found.</h1>
        </div>
    </div>
</template>
