<template name="mangaCreate">
    <div class="container main">
        <div class="row">
            {{> quickForm collection="Mangas" id="updateMangaForm" type="insert"}}
        </div>
    </div>
</template>
