<template name="mangaList">
        <div class="row">
            <div class="col-lg-12">
                <div class="list-group">
                    {{#each mangas}}
                        <a class="list-group-item animeItem" href="{{pathFor route='manga.detail'}}">
                            {{title}}
                            <a class="animeItem pull-right removeAnime" href="#">
                                <i class="fa fa-minus fa-lg fa-fw"></i>
                            </a>
                        </a>
                    {{/each}}
                </div>
            </div>
        </div>
</template>
