<template name="animeCreate">
    <div class="container main">
        <div class="row">
            {{> quickForm collection="Animes" id="updateAnimeForm" type="insert"}}
        </div>
    </div>
</template>
