<template name="animeDetail">
        <div class="row">
            <div class="col-md-3">
                <img src="{{cover}}" alt="cover" class="img-responsive img-thumbnail pull-right"/>
            </div>
            <div class="col-md-9">
                <h2>{{title}}</h2>
                {{#each genres}}
                    <span class="label label-default">{{this}}</span>
                {{/each}}

                <p>{{synopsis}}</p>

            </div>
        </div>
</template>
