<template name="animeList">
    <div class="row">
        <div class="col-md-12 text-center">
            <a class="addDummyAnime" href="#"><i class="fa fa-plus fa-lg fa-fw"></i> Add dummy anime</a>
        </div>
        <div class="col-md-4 col-md-offset-4">
            <div class="form-search search-only">
                {{#if isLoading}}
                    <i class="search-icon fa fa-spinner fa-pulse"></i>
                {{else}}
                    <i class="search-icon glyphicon glyphicon-search"></i>
                {{/if}}
                <input class="form-control search-query" placeholder="Filter animes" />
            </div>{{#if isLoading}}<i class="fa fa-spinner fa-pulse"></i>{{/if}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <table class="">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th class="text-center">Episodes</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each getAnimes}}
                        {{> animeListItem}}
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</template>

<template name="animeListItem">
    <tr class="animeListItem">
        <td>
            <div>
                <a href="{{pathFor route='anime.detail'}}">
                    {{title}}
                </a>
            </div>
        </td>
        <td class="text-center">
            {{episodes}}
        </td>
        <td>
            <a class="pull-right removeAnime" href="#">
                <i class="fa fa-trash fa-lg fa-fw"></i>
            </a>
        </td>
    </tr>
</template>
